.header {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 10px 30px;
  border-radius: 1.5rem !important;
  backdrop-filter: blur(7px);

  .desktop {
    display: flex;
    color: white;
    
    >h6 {
      margin-top: 28px;
      margin-left: 25px;
      margin-right: 25px;
      cursor: pointer;

      @media(max-width: 1000px){
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15.5px;
      }
    }
    >img{
      width: 150px;
      border-radius: .5rem !important;

      @media(max-width: 1000px){
        width:100px;
        height: 50px;
      }
    }
    >a{
      margin-top: 20px;
      padding-top: 5px;
      height: 38px;
      font-size: 13px;

      @media(max-width: 1000px){
        margin-top: 8px;
        padding-top: 5px;
        height: 34px;
      }
    }
  }

  .mobile {
    display: none;
  }

  @media(max-width: 1000px){
    width: 729px;
    margin-top: 30px;
  }

  @media(max-width: 750px){
    width: 410px;
  }

  @media(max-width: 490px){
    width: 390px;
  }


  @media(max-width: 420px){
    width: 320px;
  }
  

  @media(max-width: 360px){
    width: 270px;
  }

  @media(max-width: 750px){
    .desktop {display: none;}
    .mobile {
      display: flex;
      justify-content: space-between;

      .dropdown>button{
        margin-top: 12px;
        background: none;
        border: none;
        padding: 0px;
      }

      .dropdown>button:hover{
        padding: 0px;
      }

      .show.dropdown > div { 
        /* background: ; */
      }/* TODO-> MUDAR COR DE FUNDO DO DROPDOWN*/


      >img {
        width: 100px;
        border-radius: .5rem !important;
      }

      >a{
        margin-top: 8px;
        padding-top: 5px;
        height: 34px;

        background: none;
        border: none;
      }

      >a:hover{
        background: #157347;
      }
    }
  }
}


